*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }


body {
    font-family: 'Karla', sans-serif;
    background-color: #DFEBE3;
}

main {
    margin-bottom: 18px;
    height: 100vh;
    display: flex;
	justify-content: center;
	align-items: center;
    align-content: center;
}

.action-container {
    background-color: #ffffff;
}

.action-header p {
    color: #27A5A2;
    font-weight: 700;
}

.action-subheader p {
    color: #B4DC26;
}

.price-header p{
    color: hsl(204, 43%, 93%);
    font-size: 20px;
}

.price-frame {
    display: flex;
    align-items: center;
}

.price p {
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    color: hsl(204, 43%, 93%);
}

.billing p {
    margin-top: 0;
    margin-bottom: 0;
    color: #5bd5d1;
}

.price-container .price-subtitle p {
    color: #c3ffff;
}

button {
    height: 48px;
    background-color: #b4dc26;
    border: none;
    color: #ffffb5;
    border-radius: 5px;
}

.about-container {
    background-color: #3eb3af;
}

.about-heading {
    color: hsl(204, 43%, 93%);
    font-size: 20px;
}

.about-text {
    color: #c3ffff;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    line-height: 1.5;
}

.action-text p {
    line-height: 2;
    color: hsl(218, 22%, 67%);
}

.action-header p{
    font-size: 20px;
}

.price-container {
    background-color: #27A5A2;
}

.about-heading p {
    color: white;
    font-weight: 700;
}

.price-header {
    font-weight: 700;
}

@media screen and (max-width: 943px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        width: 310px;
        max-width: 310px;
    }    

    .action-container {
        height: 266px;
        padding: 30px 25px 15px 25px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;;
    }

    .action-container, .price-container {
        padding: 30px 25px 15px 25px;
    }

    .about-container {
        padding: 25px  25px 15px 25px;
    }

    .about-container {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .action-text p {
        font-size: 12px;
        margin-top: 20px;
        line-height: 1.9;
    }

    .action-subheader {
        margin-top: 20px;
    }

    .action-subheader p {
        font-size: 16px;
        line-height: 1.25;
    }

    ul {
        font-size: 13px;
        margin-top: 10px
    }

    .price-container {
        height: 230px;
    }

    .price-frame {
        margin-top: 10px;
    }

    button {
        width: 260px;
        margin-top: 25px;
    }

    .about-container {
        height: 228px;
    }

    .billing p {
        margin-left: 10px;
    }
}

@media screen and (min-width: 944px) {
    .grid-container {
        display: grid;
        grid-template-columns: 316px 316px;
        grid-template-rows: 216px 260px;
    }    

    .action-container {
        grid-column-start: 1;
        grid-column-end: 3;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 45px 80px 45px 40px; 
    }

    .action-header {
        font-weight: 700;
    }

    .action-subheader p {
        font-size: 16px;
        font-weight: 700;
        margin-top: 18px;
    }

    .action-text p {
        font-size: 13px; 
        margin-top: 10px;
        line-height: 1.9;
    }

    .price-container {
        border-bottom-left-radius: 10px;
        padding: 45px 40px 0px 40px; 
    }

    .price-frame {
        margin-top: 10px;
    }

    .billing {
        margin-left: 10px;
    }

    .price-subtitle {
        font-size: 15px;
    }

    button {
        margin-top: 25px;
        width: 236px;
    }

    .about-container {
        border-bottom-right-radius: 10px;
        padding: 45px 40px 0px 40px; 
    }

    ul {
        font-size: 13px;
        margin-top: 18px
    }
}


